<div ng-controller="HomeController as vm">
	<br>
	<div class="well container form-inline" style="text-align:center;">
		<input class="form-control" ng-model="vm.newToDo.title" placeholder="Title...">
		<input class="form-control" ng-model="vm.newToDo.body" placeholder="Body...">
		<button type="button" class="btn btn-success" ng-click="vm.addToDo()">Submit</button>
	</div>
	<div class="well container" ng-repeat="t in vm.todos">
		<h3>Title: <i>{{t.title}}</i></h3>
		<h4>Body: <i>{{t.body}}</i></h4>
		<h4>Created: <i>{{t.created | date:"medium"}}</i></h4>
		<h4>Deleted: <i>{{t.deleted | date:"medium"}}</i></h4>
		<!-- If this todo.deleted is null, show the complete button -->
		<button ng-show="!t.deleted" type="button" class="btn btn-primary" ng-click="vm.completeToDo(t);">Complete</button>
		<!-- Else, show a button to "uncomplete" -->
		<button ng-show="t.deleted" type="button" class="btn btn-info" ng-click="vm.unCompleteToDo(t);">Re-Add</button>
		<!-- End if for buttons -->
		<button class="btn btn-danger" ng-click="vm.deleteTodo(t);">Delete</button>
	</div>
</div>
